.about {
    padding:rem(93px) 0 rem(30px);

    h3 {
        margin:0;
    }

    &-slider {
        width:rem(370px);
        max-width: 100%;
        margin:rem(76px) auto 0;

        .slick-list {
            @include border-radius(rem(15px));
            z-index:2;
        }

        .slick-dots {
            position: absolute;
            bottom: rem(-29px);
            right: rem(7px);
            margin: 0;

            li {
                display: inline-block;
                vertical-align: top;
                margin-left:rem(8px);

                &:first-child {
                    margin-left:0;
                }

                &.slick-active {
                    button {
                        background: #6AD26F;
                    }
                }
            }

            button {
                padding:0;
                overflow: hidden;
                @include square(rem(16px));
                margin:0;
                outline: 0;
                text-indent: -999px;
                @include border-radius(100%);
                background: transparent;
                @include transition(0.3s all ease);
                border: 1px solid #6AD26F;
                cursor: pointer;

                &:hover {
                    background: #6AD26F;
                }
            }
        }

        &__item {
            outline: 0!important;
        }

        &__img {
            height:rem(247px);
            display: block;
            background-position: center;
            -webkit-background-size:cover;
            background-size:cover;
            @include border-radius(rem(15px));
        }
    }
}


.our-production-info {
    margin:rem(119px) 0 0;
    padding-bottom:rem(50px);

    &__img {
        text-align: center;
        margin: rem(103px) 0 0;
        position: relative;

        img {
            max-width: 100%;
        }

        .btn-mob {
            position: absolute;
            @include square(100%);
            top: 0;
            left: 0;
            display: none;
            z-index: 100;
        }
    }
}

@media(max-width: 1200px) {
    .about {
        padding:rem(30px) 0;
    }
}

@media(max-width: 992px) {
    .about-slider,
    .our-production-info__img,
    .our-production-info {
        margin-top: rem(40px);
    }

    .our-production-info__img {
        .btn-mob {
            display: block;
        }
    }
}

@media(max-width: 360px) {
    .about-slider__img {
        height: rem(200px);
    }
}