.contacts {
    padding:rem(94px) 0 rem(100px);

    &__map {
        margin:rem(-7px) 0 0;
        text-align: center;
        
        img {
            max-width: 100%;
        }
    }
}

.our-contacts {
    margin:rem(62px) 0 0;

    &__list {
        @include flex-row();
        margin: rem(55px) 0 0;

        &-item {
            @include flex-row();
            margin-bottom: 40px;
        }

        &-img {
            @include size(rem(170px),rem(195px));
            background-position:center;
            background-repeat:no-repeat;
            -webkit-background-size:cover;
            background-color: #e5e5e5;
            background-size:cover;
            @include border-radius(rem(10px));
        }

        &-cont {
            @include flex-col();
            padding-left:rem(30px);
        }

        &-title {
            font-weight: bold;
            line-height: rem(26px);
            font-size: rem(20px);
            color: #333333;

            &-group {
                min-height: rem(96px);
            }
        }

        &-text {
            line-height: rem(21px);
            font-size: rem(16px);
            color: #333333;
            margin: rem(3px) 0 0;
            font-weight: 300;
        }

        &-address {
            line-height: rem(21px);
            font-size: rem(16px);
            color: #333333;
            max-width: rem(270px);
            font-weight: 300;
            margin-bottom: rem(10px);
        }
    }

    &__info {
        line-height: rem(21px);
        font-size: rem(16px);
        color: #333333;
        font-weight: 300;

        a {
            color: inherit;
            font-weight:500;
            text-decoration: none;
            margin-left:rem(10px);
        }
    }
}

@media(max-width: 1200px) {
    .contacts {
        padding: rem(30px) 0;

        &__map {
            width: auto;
            margin: 0 rem(-15px);
        }
    }
}


@media(max-width: 992px) {
    .our-contacts {
        margin: rem(30px) 0 0;
    }

    .our-contacts {
        &__list {
            max-width: 500px;
            margin: rem(30px) auto 0;

            &-cont {
                padding: 0 rem(15px);
            }

            .col-6 {
                @include flex-col-size(100%);
            }
        }
    }
}

@media(max-width: 568px) {
    .our-contacts {
        &__list {
            width: 360px;

            &-img {
                @include flex-col-size(130px);
                height: rem(170px);
            }

            &-cont {
                @include flex-col-size(230px);
                padding-right: 0;
            }

            &-title {
                font-size: rem(18px);

                &-group {
                    min-height: 0;
                    margin-bottom: rem(15px);
                }
            }

            &-text ,
            &-address {
                font-size: rem(14px);
            }
        }

        &__info {
            font-size: rem(14px);
        }
    }
}

@media(max-width: 390px) {
    .our-contacts {
        &__list {
            width: 300px;

            &-img {
                @include flex-col-size(110px);
            }

            &-cont {
                @include flex-col-size(190px);
            }

            &-text ,
            &-address {
                font-size: rem(13px);
            }
        }

        &__info {
            font-size: rem(13px);
        }
    }
}