#footer {
    background: #4D4D4D;
    padding:rem(40px) 0 rem(20px);
}

.footer {
    &__cont {
        margin:0 auto;
        max-width: rem(400px);
        @include flex-row();
    }

    &__item {
        @include flex-col-size(50%);
        padding-left:rem(15px);
        padding-right:rem(15px);
    }

    &__list {
        ul {
            padding: 0;
            margin: 0;
            list-style: none;

            li {
                margin-bottom:rem(9px);
                padding: 0 rem(15px);
                display: inline-block;
                vertical-align: top;

                a {
                    color: #fff;
                    line-height: rem(23px);
                    font-size: rem(14px);
                    text-decoration: none;
                    outline:0;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        &-item {
            margin-bottom:rem(9px);
            padding: 0 rem(15px);
            display: inline-block;
            vertical-align: top;
        }

        &-link {
            color: #fff;
            line-height: rem(23px);
            font-size: rem(14px);
            text-decoration: none;
            outline:0;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    &__lang {
        margin:rem(40px) 0 0;
        text-align: center;
        font-weight: 300;
        line-height: rem(23px);
        font-size: rem(14px);
        color: #fff;
    }
}

@media(max-width: 900px) {
    #footer {
        padding: rem(30px) 0;
    }

    .footer {
        &__lang {
            margin: 0;
        }
    }

    .footer__list {
        display: none;
    }
}

