#footer {
    background: #4D4D4D;
    padding:rem(69px) 0 rem(42px);
}

.footer__cont {
    margin:0 auto;
    max-width: rem(400px);
    @include flex-row();
}

.footer__item {
    @include flex-col-size(50%);
    padding-left:rem(15px);
    padding-right:rem(15px);
}

.footer__list {

}

.footer__list-item {
    margin-bottom:rem(9px);
}

.footer__list-link {
    color: #fff;
    line-height: rem(23px);
    font-size: rem(14px);
    text-decoration: none;
    outline:0;
    
    &:hover {
        text-decoration: underline;
    }
}

.footer__lang {
    margin:rem(91px) 0 0;
    text-align: center;
    font-weight: 300;
    line-height: rem(23px);
    font-size: rem(14px);
    color: #fff;
}