.page-nav {
    position: fixed;
    top:0;
    bottom:0;
    width: rem(161px);
    background: rgba(#1A1A1A,0.4);
    z-index:450;
}

.page-nav__cont {
    padding:rem(191px) 0 0;
}

.page-nav__title {
    font-weight: 300;
    line-height: 1;
    font-size: rem(14px);
    color: #fff;
    padding: 0 rem(26px);
}

.page-nav__list {
    margin: 29px 0 0 52px;
    position: relative;

    &:before {
        position: absolute;
        top: rem(7px);
        bottom: rem(7px);
        left:0;
        height:auto;
        width:1px;
        background: #fff;
        display: block;
        content: '';
    }
}

.page-nav__list-item {
    height:rem(47px);
    position: relative;

    span {
        display: block;
        position: relative;
        font-size: rem(14px);
        color: #fff;
        padding:0 0 0 18px;
        @include transition(0.3s all ease);
        cursor: pointer;

        &:before {
            background: #fff;
            display: block;
            content: '';
            @include transition(0.3s all ease);
            @include square(rem(9px));
            @include border-radius(100%);
            position: absolute;
            top: rem(5px);
            left: rem(-4px);
        }
    }


    &:last-child {
        height:auto;
    }
}

.page-nav__list-item_active {
    color: #6DEC73;

    span {
        &:before {
            background: #6DEC73;
            @include box-shadow(0 0 6px 1px #6DEC73);
        }
    }
}