.welcome {
    background: #4d4d4d;
    background: -moz-linear-gradient(top, #4d4d4d 0%, #4d4d4d 13%, #4d4d4d 13%, #bababa 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4d4d4d 0%,#4d4d4d 13%,#4d4d4d 13%,#bababa 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4d4d4d 0%,#4d4d4d 13%,#4d4d4d 13%,#bababa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d4d4d', endColorstr='#bababa',GradientType=0 ); /* IE6-9 */
}

.welcome__cont {
    .main-container {
        position: relative;
        min-height: rem(819px);
    }
}

.welcome__cont-img {
    background: url("#{$rootUrl}welcome-cont-img.png") no-repeat center;
    -webkit-background-size:cover;
    background-size:cover;
    @include size(rem(1920px),rem(819px));
    position: absolute;
    left:50%;
    top:rem(139px);
    margin:0 0 0 rem(-960px);
}

.welcome__inner {
    position: relative;
    z-index:50;
    padding: rem(233px) 0 0 rem(96px);
}

.welcome__title {
    font-weight: bold;
    line-height: 1.2;
    font-size: rem(56px);
    color: #FFFFFF;
    margin:0;
}

.welcome__cont-text {
    max-width: rem(610px);
    line-height: rem(27px);
    font-size: rem(20px);
    color: #FFFFFF;
    margin: rem(28px) 0 0 rem(3px);

    p {
        margin:0 0 rem(10px);
    }
}

.welcome__cont-btn-group {
    margin: rem(33px) 0 0;

    .btn-f,
    .btn-r {
        min-width:rem(220px);
        margin-right:rem(31px);

        &:last-child {
            margin-right:0;
        }
    }

    .btn-r {
        color: #fff;
    }
}

.welcome__cont-more {
    position: absolute;
    font-weight: 500;
    line-height: normal;
    font-size: rem(20px);
    color: #FFFFFF;
    text-decoration: none;
    bottom: rem(-55px);
    left: rem(711px);
    z-index:100;

    &:before {
        position: absolute;
        top:100%;
        left:50%;
        margin: rem(18px) 0 0 rem(-87px);
        @include size(rem(146px),rem(42px));
        background: url("#{$rootUrl}welcome-cont-more.svg") no-repeat center;
        -webkit-background-size:cover;
        background-size:cover;
        content: '';
        display: block;
    }

    &:after {
        @include size(rem(756px), rem(444px));
        background: url("#{$rootUrl}green-shadow.svg") no-repeat center;
        -webkit-background-size:cover;
        background-size:cover;
        position: absolute;
        top: -200px;
        left: -430px;
        content: '';
        z-index:-1;
        opacity:0.7;
    }
}

.technologies {
    margin: rem(260px) 0 0;
    min-height:rem(1792px);

    .main-container {
        position: relative;
    }
}

.technologies__item {

}

.technologies__item_1 {
    max-width: rem(660px);
    margin: 0 0 0 rem(96px);
}

.technologies__item_2 {
    max-width: rem(660px);
    margin: rem(484px) 0 0 rem(-6px);
}

.technologies__title {
    font-weight: bold;
    font-size: rem(40px);
    color: #FFFFFF;
    line-height:1.2;
    margin:0 0 rem(29px);

    span {
        color: #6AD16F;
    }
}

.technologies__text {
    font-weight: 300;
    line-height: rem(23px);
    font-size: rem(18px);
    color: #fff;
    max-width: rem(270px);

    p {
        margin:0 0 rem(10px);
    }
}

.technologies-info {
    //background: url("#{$rootUrl}technologies-info.png") no-repeat center;
    -webkit-background-size:cover;
    background-size:cover;
    position: absolute;
    top: rem(90px);
    left: 50%;
    margin-left: rem(-870px);
    @include size(rem(1591px),rem(2073px));
}

.technologies-info__svg {
    width:100%;
}

.technologies-info__polygon {
    cursor: pointer;
    @include transition(0.3s all ease);
    fill: transparent;
}

.technologies-info__item-img {
    opacity: 0;
    @include transition(0.3s all ease);
}

.technologies-info__item_active {
    .technologies-info__item-img {
        opacity: 1;
    }

    .technologies-info__tooltip-circle {
        opacity: 1;
    }

    .technologies-info__tooltip_top {
        .technologies-info__tooltip-text ,
        .technologies-info__tooltip-cont {
            @include transform(translate(0,0));
            opacity: 1;
        }

        .technologies-info__tooltip-line {
            animation: dash 0.3s linear forwards;
        }
    }

    .technologies-info__tooltip_bottom {
        .technologies-info__tooltip-text ,
        .technologies-info__tooltip-cont {
            @include transform(translate(0,0));
            opacity: 1;
        }

        .technologies-info__tooltip-line {
            animation: dash 1s linear forwards;
        }
    }
}

.technologies-info__tooltip_top {
    .technologies-info__tooltip-line {
        fill:none;
        stroke:#EDF0F0;
        stroke-dasharray: 1000;
        stroke-dashoffset: -150;
    }

    .technologies-info__tooltip-text ,
    .technologies-info__tooltip-cont {
        @include transition(0.3s all ease);
        @include transform(translate(0,-100px));
        opacity: 0;
    }
}

.technologies-info__tooltip_bottom {
    .technologies-info__tooltip-line {
        fill:none;
        stroke:#EDF0F0;
        stroke-dasharray: 1000;
        stroke-dashoffset: 1000;
    }

    .technologies-info__tooltip-text ,
    .technologies-info__tooltip-cont {
        @include transition(0.3s all ease);
        @include transform(translate(0,100px));
        opacity: 0;
    }
}

.technologies-info__tooltip-circle {
    fill:#EDF0F0;
    opacity: 0;
    @include transition(0.3s all ease);
}


@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}

.technologies-info__tooltip-text {
    fill:#FFFFFF;
}

.technologies-info__tooltip-cont {
    fill:#E5E5E5;
    fill-opacity:0.5;
}

.w-products {
    background: #F5F5F5;
    padding: rem(50px) 0 rem(204px);
    margin: rem(-10px) 0 0;
}

.w-products__item {
    @include flex-col-size(50%);
    position: relative;
    z-index:100;
}

.w-products__cont {
    position: relative;
}

.w-products__item_1 {
    padding: rem(152px) 0 0;
}

.w-products__item_2 {
    padding: rem(364px) 0 0 rem(15px);
}

.w-products__img_1 {
    background: url("#{$rootUrl}w-products-1.png") no-repeat center;
    @include size(rem(583px),rem(313px));
    top: rem(-89px);
    right: rem(-109px);
}

.w-products__img_2 {
    background: url("#{$rootUrl}w-products-2.png") no-repeat center;
    @include size(rem(583px),rem(313px));
    top: rem(-77px);
    right: rem(-163px);
}

.w-products__img {
    position: absolute;
    -webkit-background-size:cover;
    background-size:cover;
}

.w-products__title {
    font-weight: bold;
    line-height: 1.2;
    font-size: rem(40px);
    color: #323232;
}

.w-products__sub-title {
    font-weight: bold;
    font-size: rem(30px);
    color: #6AD16F;
}

.w-products__text {
    margin:rem(25px) 0 0;
    width:rem(270px);
    position: relative;
    z-index: 10;

    p {
        font-weight: 300;
        line-height: rem(23px);
        font-size: rem(18px);
        color: #333333;
        margin:0 0 rem(10px);
    }
}

.w-products__btn {
    margin: rem(27px) 0 0;
    min-width: rem(220px);
}

.p-modal {
    position: fixed;
    top:0;
    z-index:1000;
    background: #fff;
    @include transition(0.5s all ease);
    opacity: 0;
    visibility: hidden;
}

.p-modal__close {
    position: absolute;
    @include size(rem(26px),rem(25px));
    background: url("#{$rootUrl}close.svg") no-repeat center;
    -webkit-background-size:cover;
    background-size:cover;
    top:rem(29px);
    display: block;
    z-index:100;
    cursor: pointer;
    right:rem(28px);
}

.p-modal__left {
    height:100%;
    width:960px;
    @include transform(translate(-150%,0));
    left:0;
}

.p-modal__right {
    height:100%;
    width:960px;
    @include transform(translate(150%,0));
    right:0;
}

.p-modal_active {
    &.p-modal__left {
        opacity: 1;
        visibility: visible;
        @include transform(translate(0,0));
    }

    &.p-modal__right {
        opacity: 1;
        visibility: visible;
        @include transform(translate(0,0));
    }
}

.p-modal__left-active {
    opacity: 1;
    visibility: visible;
    @include transform(translate(0,0));
}

#overlay {
    background: rgba(#000,0.3);
    @include square(100%);
    z-index:900;
    position: fixed;
    display: none;
}

.p-modal__body {
    overflow: auto;
    height:100%;
}

.p-modal__title  {
    font-weight: 500;
    line-height: rem(32px);
    font-size: rem(24px);
    text-align: center;
    color: #333333;
    margin:rem(111px) 0 0;
}

.structure-group {
    max-width: rem(587px);
    margin:auto;
    padding-bottom: rem(20px);
}

.structure {
    margin: rem(112px) 0 rem(15px);
    position: relative;
}

.structure__right {
    margin: rem(182px) 0 0;
}

.structure__item {
    @include size(rem(220px),rem(50px));
    line-height:rem(50px);
    text-align: center;
    background: #EDF0F0;
    @include border-radius(rem(10px));
    position: relative;
    font-size: rem(16px);
    color: #232323;
    margin:0 auto rem(30px);
    @include transition(0.3s all ease);

    &:before {
        @include size(rem(8px), rem(20px));
        background: url("#{$rootUrl}arrow-down.svg") no-repeat center;
        -webkit-background-size:cover;
        background-size:cover;
        position: absolute;
        top:100%;
        left:50%;
        margin-left:rem(-4px);
        margin-top: rem(6px);
        content: '';
    }

    &:hover {
        background: #6FDE74;
        color: #fff;
    }
}

.structure__info {
    display: inline-block;
    vertical-align: top;
    font-size: rem(18px);
    text-align: center;
    color: #232323;
    width:50%;
    top:rem(-66px);
    position: absolute;
    line-height:1;

    &:before {
        position: absolute;
        left:50%;
        top:100%;
        margin:rem(6px) 0 0 rem(-4px);
        @include size(rem(8px),rem(27px));
        background: url("#{$rootUrl}arrow-down2.svg");
        -webkit-background-size:cover;
        background-size:cover;
        content: '';
    }
}

.structure__info-left {
    display: inline-block;
    vertical-align: top;
    font-size: rem(18px);
    text-align: center;
    color: #232323;
    width:50%;
    top:rem(-146px);
    left:100%;
    position: absolute;
    line-height:1;
    margin: 0 0 0 rem(-11px);

    &:before {
        @include size(rem(35px),rem(152px));
        background: url("#{$rootUrl}arrow-l-large.svg") no-repeat center;
        -webkit-background-size:cover;
        background-size:cover;
        display: block;
        content: '';
        top:100%;
        left:0;
        position: absolute;
        margin: rem(6px) 0 0 rem(20px);
    }
}

.structure__info-arrow {
    &:before {
        display: none;
    }

    &:after {
        @include size(rem(371px),rem(438px));
        background: url("#{$rootUrl}arrow-structure.svg") no-repeat center;
        -webkit-background-size:cover;
        background-size:cover;
        position: absolute;
        bottom:0;
        left:100%;
        content: '';
        margin: 0 0 rem(-36px) rem(-111px);
    }
}

.structure__info_left {
    left:0;
}

.structure__info_right {
    right:0;
}

.structure__finish-item {
    background: #6FDE74;
    @include border-radius(rem(10px));
    @include size(rem(220px),rem(77px));
    color: #fff;
    text-align: center;
    line-height:rem(77px);
    font-weight: 500;
    font-size: rem(20px);
    margin:auto;
}