.about.gray-container
  .main-container
    h3.title-category About Company
    .text-cont
      p Lithium Technologies is an international company based on the technological competence of Chemical and Metallurgical Plant (CMP) (Krasnoyarsk, Russia).
      p CMP is the leading Russian producer and supplier of lithium hydroxide since 1956.
      p On the basis of CMP technology LiTech enters international battery market as a producer and technological partner.
    .about-slider
      .about-slider__item
        a(href="#" style="background-image: url(img/pic-1.jpg);").about-slider__img
      .about-slider__item
        a(href="#" style="background-image: url(img/pic-2.jpg);").about-slider__img
      .about-slider__item
        a(href="#" style="background-image: url(img/pic-3.jpg);").about-slider__img
    .our-production-info
      h3.title-category Our production
      .text-cont
        p We use a full cycle technology, from mining ore to getting the finished product.
        p Now we are ready to offer Lithium Hidroxide (BG, IG, TG), Lithium Metal, own hydrated lime of 99.99% purity and separators.
        p Soon we planning to launch production of Li2O; Li2CO3; cathode materials: NMC, LFP and natural and artificial graphite.
      .our-production-info__img
        img(src="img/scheme.png" alt="")