.contacts.gray-container
  .main-container
    h3.title-category Our offices
    .contacts__map
    .our-contacts
     h3.title-category Our Contacts
    .our-contacts__list
      .col-6
        .our-contacts__list-item
          .our-contacts__list-img(style="background-image: url(img/pic-8.jpg);")
          .our-contacts__list-cont
            .our-contacts__list-title-group
              .our-contacts__list-title Valeria Arkhipova
              .our-contacts__list-text export manager
            .our-contacts__list-address 109029, Russia, Moscow, Nizhegorodskaya str. 32, build. 15
            .our-contacts__info phone:
              a(href="") +7 (495) 600-42-65
            .our-contacts__info e-mail:
              a(href="") larkhipova@roel.ru
      .col-6
        .our-contacts__list-item
          .our-contacts__list-img
          .our-contacts__list-cont
            .our-contacts__list-title-group
              .our-contacts__list-title Vasiliy Lazutochkin
              .our-contacts__list-text export manager
            .our-contacts__list-address 660079, Russia, Krasnoyarsk, Alexandra Matrosova str. 30
            .our-contacts__info phone:
              a(href="") + 7 391 235 04 54
            .our-contacts__info e-mail:
              a(href="") lazutochkin@khmz.ru