#footer
  .footer__cont
    .footer__item
      .footer__list
        .footer__list-item
          a(href="index.html#main").footer__list-link Technologies 01
        .footer__list-item
          a(href="index.html#technologies").footer__list-link Technologies 02
        .footer__list-item
          a(href="index.html#polygon-3").footer__list-link Technologies 03
        .footer__list-item
          a(href="index.html#w-products").footer__list-link Technologies 04
        .footer__list-item
          a(href="index.html#partnership").footer__list-link Partners
    .footer__item
      .footer__list
        .footer__list-item
          a(href="index.html").footer__list-link Technologies
        .footer__list-item
          a(href="about.html").footer__list-link About
        .footer__list-item
          a(href="products.html").footer__list-link Products
        .footer__list-item
          a(href="contacts.html").footer__list-link Contacts
  .footer__lang Copyright © 2018 - Lithium Technologies








