.page-nav
  .page-nav__cont
    .page-nav__title Technologies
    .page-nav__list
      .page-nav__list-item.page-nav__list-item_active 01
      .page-nav__list-item 02
      .page-nav__list-item 03
      .page-nav__list-item 04
      .page-nav__list-item 05
      .page-nav__list-item 06