.page-nav
  .page-nav__cont
    .page-nav__title Technologies
    .page-nav__list
      .page-nav__list-item
        span(data-tab="#main") 01
      .page-nav__list-item
        span(data-tab="#technologies") 02
      .page-nav__list-item
        span(data-tab="#polygon-3") 03
      .page-nav__list-item
        span(data-tab="#w-products") 04
      .page-nav__list-item
        span(data-tab="#partnership") 05
      .page-nav__list-item
        span(data-tab="#feedback") 06
