.black-wrap
  .main-container
    #partnership.partnership
      h3 Partnership
      .partnership__text
        p We propose to establish JV (Joint Venture) where Lithium Technologies acts as technological partner.
        p We offer the partnership for:
      .benefits
        .benefits__item
          .benefits__ico
            i.icon-excavator
          .benefits__title Miners
          .benefits__text LiTech is ready to implement it's technologies to process yours hard rock and brine into lithium products on partnership basis.
        .benefits__item
          .benefits__ico
            i.icon-factory
          .benefits__title Lithium Producers
          .benefits__text LiTech is ready to purchase lithium: chloride, sulfate, carbonate, for its own production of lithium products: (LiOH, Li Metall); - for tolling; -to establish a technological partnership for the joint production of lithium products.
        .benefits__item
          .benefits__ico
            i.icon-battery
          .benefits__title Battery Producers
          .benefits__text We are actively cooperation with battery producers for the production of battery products (cathode, anode, electrolyte, separators).
        .benefits__item
          .benefits__ico
            i.icon-customers
          .benefits__title Customers
          .benefits__text LiTech is ready to sell lithium products: carbonate, hydroxide, metal.
    #feedback.feedback
      h3 Write a letter
      .partnership__text
        p Contact us. We are looking forward to hearing about your company and your ideas for possible cooperation. We will shortly get in touch to discuss the next steps!
      form.feedback__form
        .form-row
          input(type="text" placeholder="Name").form-row__input
        .form-row
          input(type="email" placeholder="E-mail").form-row__input
        .form-row
          textarea(placeholder="Comments").form-row__textarea
        .form-row.text-center
          a(href="#").btn-f.btn-f__green.feedback__form-submit Send
