.products.gray-container
  .main-container
    h3.title-category Our products
    .text-cont
      p Lithium Technologies is an international company based on the technological Chemical
    .products-list
      .products-list__item
        .products-list__inner
          a(href="#").products-list__title Lithium hydroxide
          .products-list__text (production capacity of 15,000 tons per year)
          a(href="#").products-list__img
            img(src="img/pic-4.jpg" alt="")
          .products-list__text
            p technical grade, battery grade, standard grade, wet grade
            p аpplication: ceramics, glass, greases, battery
      .products-list__item
        .products-list__inner
          a(href="#").products-list__title Lithium hydroxide
          .products-list__text (production capacity of 100 tons per year)
          a(href="#").products-list__img
            img(src="img/pic-5.jpg" alt="")
          .products-list__text
            p application: battery, optics
      .products-list__item
        .products-list__inner
          a(href="#").products-list__title Lithium hydroxide
          .products-list__text (production capacity of 100,000 tons per year)
          a(href="#").products-list__img
            img(src="img/pic-6.jpg" alt="")
          .products-list__text
            p application: construction materials, chemical production, electronics, optics
      .products-list__item
        .products-list__inner
          a(href="#").products-list__title Lithium hydroxide
          .products-list__text (Rubidium Metal; Cesium Metal; Potassium Metal)
          a(href="#").products-list__img
            img(src="img/pic-7.jpg" alt="")
          .products-list__text
            p glass ampoules weighting from 1 milligram to 200 grams (net)
            p application: electronics, optics, medicine
    .products-list__btn-more
      a(href="contacts.html").btn-f.btn-f__green  Buy a product