.welcome
  .welcome__cont
    .main-container
      .welcome__cont-img
      .welcome__cont-more Learn more
        br
        | about production

      .welcome__inner
        h1.welcome__title!="Lithium technologies produces <br> lithium value chain"
        .welcome__cont-text
          p We use full cycle technology: from mining to the end lithium product.
          p We know how to develop lithium project faster and successfully enter the world market.
        .welcome__cont-btn-group
          a(href="#").btn-f.btn-f__green Connect with Us
          a(href="#").btn-r.btn-r__green More about partnership