.welcome
  .main-container.welcome__inner
    .welcome__cont
    .welcome__item.welcome__item_1.parallax
      .layer(data-depth="0.1")
    .welcome__item.welcome__item_2.parallax
      .layer(data-depth="0.05")
    .welcome__item.welcome__item_3.parallax
      .layer(data-depth="0.3")
    .welcome__item.welcome__item_4.parallax
      .layer(data-depth="0.4")
    .welcome__item.welcome__item_5.parallax
      .layer(data-depth="0.5")
    .welcome__item.welcome__item_6.parallax
      .layer(data-depth="0.1")
    .welcome__content
      .welcome__title Подберем для вас образ под любую
        span вещь за считанные секунды
      #overlay-main-filters
      .main-filters
        .main-filters__cont
          .main-filters__gender
            .main-filters__gender-item
              a(href="#").main-filters__gender-link.main-filters__gender-link_active м
            .main-filters__gender-item
              a(href="#").main-filters__gender-link ж
          .main-filters__add-item Добавить вещь
            .main-filters__toggle-reset
          .main-filters__add-item Добавить вещь
            .main-filters__toggle-reset
          .main-filters__check-item
            .main-filters__check-item-text Стиль
            .main-filters__toggle-reset
            .main-filters__check-dropdown
              ul.main-filters__check-list
                li.main-filters__check-list-item Спорт
                li.main-filters__check-list-item Кэжуал
                li.main-filters__check-list-item Смарт кэжуал
                li.main-filters__check-list-item Деловой стиль
          .main-filters__check-item
            .main-filters__check-item-text Сезон
            .main-filters__toggle-reset
            .main-filters__check-dropdown
              ul.main-filters__check-list
                li.main-filters__check-list-item Спорт
                li.main-filters__check-list-item Кэжуал
                li.main-filters__check-list-item Смарт кэжуал
                li.main-filters__check-list-item Деловой стиль
                li.main-filters__check-list-item Все пидарасы,  один я  хороший
          .main-filters__submit-group
            button.main-filters__submit НАЙТИ
        .main-filters__dropdown
          |текст

.test



