.btn-f {
    padding:0 25px;
    display: inline-block;
    vertical-align: top;
    height:rem(60px);
    text-align: center;
    line-height:rem(60px);
    @include transition(0.4s all ease);
    @include border-radius(rem(60px));
    text-decoration: none;
}

.btn-f__green {
    background: #6AD26F;
    box-shadow:  10px 10px 20px rgba(0, 0, 0, 0.35),0 0 120px 14px rgba(#6AD26F,0.6);
    color: #fff;

    &:hover {
        box-shadow:0 0 120px 14px rgba(#6AD26F,0.5);
    }

    &:active {
        box-shadow:  10px 10px 20px rgba(0, 0, 0, 0),0 0 120px 14px rgba(#6AD26F,0);
    }
}

.btn-r {
    padding:0 25px;
    display: inline-block;
    vertical-align: top;
    height:rem(60px);
    text-align: center;
    line-height:rem(54px);
    @include transition(0.4s all ease);
    @include border-radius(rem(60px));
    text-decoration: none;
    border:3px solid;
}

.btn-r__green {
    color: #333;
    border-color:#6AD26F;
    position: relative;

    &:before {
        @include size(50%,1px);
        position: absolute;
        top:50%;
        left:50%;
        @include transform(translate(-50%,-50%));
        @include border-radius(rem(30px));
        box-shadow: 0 0 100px 14px rgba(#6AD26F,0.7), inset 0 0 50px 14px rgba(#6AD26F,0.5);
        content: '';
        @include transition(0.4s all ease);
        opacity: 0;
    }

    &:hover {
        &:before {
            opacity: 1;
        }
    }
}